.darkModeActive,
    .darkModeActive .white-bg,
    .darkModeActive .red-bg,
    .darkModeActive .number-section .red-bg,
    .darkModeActive .white-bg .testi-carousel .carousel-item,
    .darkModeActive .schol-tab,
    .darkModeActive .sweet-alert,
    .darkModeActive .popluarFeat-cont h3,
    .darkModeActive .fortune500,
    .darkModeActive .modal-header,
    .darkModeActive .testi-heading-new .modal-header,
    .darkModeActive .elummni-section,
    .darkModeActive .cucet-table__header,
    .darkModeActive .padd-wrapper,
    .darkModeActive .placement-sec,
    .darkModeActive .hp-heading,
    .darkModeActive .number-section-update:before {background: #262626;}.darkModeActive .dark-grey-bg {background: rgba(29, 29, 30, 0.98);}.darkModeActive .pg-bg {background-color: #161616!important;background-blend-mode: overlay!important;}.darkModeActive .carousel-inner .banner-img,
    .darkModeActive .dd--title span,
    .darkModeActive .glance-ul li svg,
    .darkModeActive .patent-section img,
    .darkModeActive .env-thumb-img img,
    .darkModeActive .quiz-pic img,
    .darkModeActive .logo__block img,
    .darkModeActive .white-content-section img,
    .darkModeActive .elummni-card__name span img,
    .darkModeActive .aboutProgram img,
    .darkModeActive .aboutus__image img,
    .darkModeActive .iservice img,
    .darkModeActive .bg_cover .slick-slide img,
    .darkModeActive .about-section__image img,
    .darkModeActive .Portfolio-grid1 img,
    .darkModeActive .map-area,
    .darkModeActive .image-div img,
    .darkModeActive .award-logos .slick-slide img,
    .darkModeActive .career-card img,
    .darkModeActive .stu-info__pic img,
    .darkModeActive #ri-grid,
    .darkModeActive #apus-main-content,
    .darkModeActive .program-slider .slick-slide img,
    .darkModeActive .post-thumbnail img,
    .darkModeActive .country-offering-degree-sec .testimonials-section .user-avtar img,
    .darkModeActive .res-news-thumb span img,
    .darkModeActive .copyright-section img {filter: brightness(70%);}body.darkModeActive,
    .darkModeActive h1,
    .darkModeActive h2,
    .darkModeActive h3,
    .darkModeActive h4,
    .darkModeActive h5,
    .darkModeActive h6,
    .darkModeActive p,
    .darkModeActive header.dark-grey-bg .text360 span,
    .darkModeActive .text-white,
    .darkModeActive .text-dark-grey,
    .darkModeActive .small-heading,	
    .darkModeActive .need-help a,	
    .darkModeActive .step-one-menu > li > a,
    .darkModeActive .step-two-menu ul li a,
    .darkModeActive .dd--title,
    .darkModeActive .af-title,
    .darkModeActive .upper-menu ul li a,
    .darkModeActive .storylist_left,
    .darkModeActive .storytime span,
    .darkModeActive .bell-icon i,
    .darkModeActive .news-slider__tag,
    .darkModeActive .rankingData__box,
    .darkModeActive .research-ul li span,
    .darkModeActive .lab-title,
    .darkModeActive .numbers span,
    .darkModeActive .ft-links ul li a,
    .darkModeActive .copy-links ul li a,
    .darkModeActive .git,
    .darkModeActive .searchbar-input,
    .darkModeActive .logo-infocard,
    .darkModeActive .logo-infocard a,    
    .darkModeActive .breadcrumb-style ul li,    
    .darkModeActive .breadcrumb-style ul li a,    
    .darkModeActive .title-text,   
    .darkModeActive .glance-ul li, 
    .darkModeActive .social-media ul li a,
    .darkModeActive .placement-tracker-thumb-cont ul li a,
    .darkModeActive .accordion-button,
    .darkModeActive .resp-block,
    .darkModeActive div.bhoechie-tab-menu div.list-group > a,
    .darkModeActive .listStyle-2 li a,
    .darkModeActive .programAllDetails-sec li,
    .darkModeActive .keyfeat-thumb p a,
    .darkModeActive .custom-list-style li a,
    .darkModeActive .pl-indi-num span,
    .darkModeActive .aboutProgram.feeDet b,
    .darkModeActive .academics-links span,
    .darkModeActive .acacenter ul,
    .darkModeActive .acacenter ul li span,
    .darkModeActive .dataTables_paginate a,
    .darkModeActive .useful-links-list ul li a,
    .darkModeActive ul.list-dot li,
    .darkModeActive .share-event ul li a i,
    .darkModeActive .api-regform h6,
    .darkModeActive .programs-list-block ul li a,
    .darkModeActive .about-section__pseudoheading.heading,
    .darkModeActive .about-section__blockquote,
    .darkModeActive .dataTables_wrapper .dataTables_length,
    .darkModeActive .dataTables_wrapper .dataTables_filter,
    .darkModeActive .dataTables_wrapper .dataTables_info,
    .darkModeActive .dataTables_wrapper .dataTables_processing,
    .darkModeActive .dataTables_wrapper .dataTables_paginate,
    .darkModeActive .dataTables_wrapper .dataTables_paginate .paginate_button,
    .darkModeActive ul.libraries-list li span,
    .darkModeActive ul.ct-important-links li a,
    .darkModeActive .e-lib tbody tr td strong,
    .darkModeActive #rbType td label,
    .darkModeActive #rbVisitortype td label,
    .darkModeActive .leader-contact-card a,
    .darkModeActive .placementForm-block .card-body label,
    .darkModeActive .side-nav ul li a,
    .darkModeActive .text-dark,
    .darkModeActive .link-list ul li a,
    .darkModeActive .pxp-areas-1-item-details-area,
    .darkModeActive .pxp-areas-1-item-details-city,
    .darkModeActive .pxp-areas-1-item-counter,
    .darkModeActive .prog-List ul li a,
    .darkModeActive .cud-dd ul li a span,
    .darkModeActive .looking-degree-content .myList2 li,
    .darkModeActive .rankingData__box h3.font-30, 
    .darkModeActive .select2-container--default .select2-selection--single .select2-selection__rendered,
    .darkModeActive .course-ul li {color: #eee!important;}.darkModeActive .una-block p span,
    .darkModeActive .news-slider__item p span,
    .darkModeActive .rankingData__box h3,
    .darkModeActive .text-yellow,
    .darkModeActive .main-heading.mh-white span,
    .darkModeActive .text-red strong,
    .darkModeActive .schol-tab::before,
    .darkModeActive .intro__section .title--large span,
    .darkModeActive .mktoErrorMsg,
    .darkModeActive .bannerheadings h1 span,
    .darkModeActive .listStyle-2 li a small strong,
    .darkModeActive .main-heading span,
    .darkModeActive .enquiry p a,
    .darkModeActive .totalPrograms h4,
    .darkModeActive .main-head a,
    .darkModeActive .text-yellow-dark,
    .darkModeActive .table-hostel1 tr td a,
    .darkModeActive .header-banner .banner-content1 .sub-title span,
    .darkModeActive .header-banner .banner-content1 .banner-title span,
    .darkModeActive h6.main-title-w3pvt span,
    .darkModeActive .itextser .modal-body p span,
    .darkModeActive .any-time,
    .darkModeActive .e-lib tbody tr td a,
    .darkModeActive .star,
    .darkModeActive .package-no span,
    .darkModeActive .main-sub-heading span,
    .darkModeActive .graph-pnl a span,
    .darkModeActive .expert-slider .slick-next::before,
    .darkModeActive .expert-slider .slick-prev::before,
    .darkModeActive .banner-w3lstext span,
    .darkModeActive .entry-content-block .entry-title span,
    .darkModeActive .uni-programList-sec h5 span,
    .darkModeActive .prog-List button,
    .darkModeActive .helpline p strong,
    .darkModeActive .ratings li,
    .darkModeActive .noti-link,
    .darkModeActive .res--news-cont a,
    .darkModeActive .rankingData__box span.font-40,
    .darkModeActive .country-offering-degree-sec .testimonials-section .stu-name ul li,
    .darkModeActive .patent-section p a, /******** check for any problems, if yes, remove this line ********/
    .darkModeActive .rankingHeading h4 span {color: #e1b230!important;}.darkModeActive .dd-graphic-cont {background: rgba(54, 54, 57,92%);}.darkModeActive .blue-gradient-bg, 
    .darkModeActive .grey-bg, 
    .darkModeActive footer, 
    .darkModeActive .testi-heading ul li a, 
    .darkModeActive .side-call,
    .darkModeActive .blue-gradient-bg .testi-carousel .carousel-item,
    .darkModeActive .git-box,
    .darkModeActive .resp-block.red-bg,
    .darkModeActive .clients__section .logos__block .logo__block,
    .darkModeActive .page__section .image__section.bg--yellow,
    .darkModeActive div.bhoechie-tab-container,
    .darkModeActive div.bhoechie-tab-content,
    .darkModeActive .popularFeat-rightSide .row .col-sm-6:nth-child(1),
    .darkModeActive .apply-bar,
    .darkModeActive .placement-h .row .col-4 .numberhighlights,
    .darkModeActive .useful-links-list,
    .darkModeActive .cucet-scholarship::before,
    .darkModeActive .cucet-scholarship,
    .darkModeActive .approach-blocks .blks:nth-child(4),
    .darkModeActive .approach-blocks .blks:nth-child(4) .caption:hover .panel-img,
    .darkModeActive .iservice .itextser,
    .darkModeActive .placement-sec::before,
    .darkModeActive .pl-video-slider .card .card-body,
    .darkModeActive .placement-individual-num,
    .darkModeActive .list-apply-button,
    .darkModeActive .country-offering-degree-sec,
    .darkModeActive .excellance-content .itextser,
    .darkModeActive .lpa35 {background: #212121!important;}.darkModeActive .nav-tabs .nav-item.show .nav-link,
    .darkModeActive .nav-tabs .nav-link.active, /***** Check this too for error *****/
    table.dataTable tbody tr, 
    .darkModeActive .country-offering-degree-sec .testimonials-section .carousel-control-prev,
    .darkModeActive .country-offering-degree-sec .testimonials-section .carousel-control-next,
    table.dataTable.order-column tbody tr > .sorting_1,
    table.dataTable.order-column tbody tr > .sorting_2,
    table.dataTable.order-column tbody tr > .sorting_3,
    table.dataTable.display tbody tr > .sorting_1, 
    table.dataTable.display tbody tr > .sorting_2,
    table.dataTable.display tbody tr > .sorting_3 {background-color: unset!important;}.darkModeActive .arrow_box::after {border-bottom-color: #515151;}.darkModeActive hr {opacity: 0.15;}