:root {
  --flash-red: #fa0d0d;
  --bs-white: #ffffff;
  --bs-black: #000000;
  --text-white: #ffffff;
  --text-dark: #171717;
  --text-skyblue: #00b4d8;
  --bg-dark: #09090b;
  --bg-navyblue: #082d4f;
  --primary-font: 'DM Sans', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
}

@media (min-width: 768px) {
    .hide-accordion-arrow-on-desktop::after {
        display: none !important;
        background-image: none !important;
    }
}

#accordionFlushExampleFAQ .accordion-header:hover {
    background: linear-gradient(to right, #ffeccc, #ffdfaa, #ffeccc)
}

/* Custom Swiper Pagination Dots to match Flickity design */
.swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    margin: 0 6px !important;
    border-radius: 3.5px !important;
    opacity: 0.25 !important;
    background: #333 !important;
    transition: 0.2s ease-in-out !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #fa0d0d !important;
    width: 28px !important;
}
