    <section class="allRankings-section pb-115 position-relative" data-aos="fade-up" data-aos-duration="500">
        <div class="container">
            <div class="mainHeading text-center" data-aos="fade-up" data-aos-duration="700">
                <h2 class="px-4 px-sm-0"><span>Proudly Distinguished</span> by Our<br> Prestigious Rankings</h2>
            </div>
            <div class="px-188 px-1399">
                <div class="accordion accordion-flush" id="accordionFlushExampleFAQ">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-head-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-collapse-2" aria-expanded="false" aria-controls="faq-collapse-2">
                                <div class="row g-0 w-94">
                                    <div class="col-5 col-sm-4 col-md-3">
                                        <img class="lazy-img" data-src="latest-assets/img/qs-univ-logo-2027.webp"
                                            alt="QS World University Rankings" width="225">
                                    </div>
                                    <div class="col-7 col-sm-8 col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked Among</span>
                                                        1%
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Top Universities in India by QS World University Rankings 2027
                                                        <span>(Among Top 10 Universities)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6 d-none d-md-block">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked Among</span>
                                                        2%
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Top Universities Globally by QS World University Rankings 2027
                                                        <span>(Global Rank #526)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="faq-collapse-2" class="accordion-collapse collapse" aria-labelledby="faq-head-2"
                            data-bs-parent="#accordionFlushExampleFAQ">
                            <div class="accordion-body">
                                <div class="row g-0 w-94">
                                    <div class="col-12 d-block d-md-none">
                                        <div class="uniRankingthumb">
                                            <div class="uniRankingthumb__no">
                                                <span>Ranked Among</span>
                                                2%
                                            </div>
                                            <div class="uniRankingthumb__content">
                                                Top Universities Globally by QS World University Rankings 2027
                                                <span>(Global Rank #526)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-head-1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-collapse-1" aria-expanded="false" aria-controls="faq-collapse-1">
                                <div class="row g-0 w-94">
                                    <div class="col-5 col-sm-4 col-md-3">
                                        <img class="lazy-img" data-src="latest-assets/img/qs-by-subject-logo.webp"
                                            alt="QS World University Rankings" width="225">
                                    </div>
                                    <div class="col-7 col-sm-8 col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="uniRankingthumb qs-thumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #251-300
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Mechanical, Aeronautical & Manufacturing)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6 d-none d-lg-block">
                                                <div class="uniRankingthumb qs-thumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #251-300
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Electrical and Electronics Engineering)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="faq-collapse-1" class="accordion-collapse collapse" aria-labelledby="faq-head-1"
                            data-bs-parent="#accordionFlushExampleFAQ"> <!-- 'collapse show' -->
                            <div class="accordion-body">
                                <div class="row g-0 w-94">
                                    <div class="offset-md-3 col-md-9">
                                        <div class="row">
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #251-300
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Computer Science & Information Systems)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #301-450
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Business & Management Studies)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #351-400
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Chemistry)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #351-400
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Chemical Engineering)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #451-500
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Environmental Sciences)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #501-600
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Mathematics)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #551-600
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Biological Sciences)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        #601-675
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among the World's Top 1% Universities by QS World University
                                                        Rankings by Subject 2026
                                                        <span>(Physics & Astronomy)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-head-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-collapse-3" aria-expanded="false" aria-controls="faq-collapse-3">
                                <div class="row g-0 w-94">
                                    <div class="col-5 col-sm-4 col-md-3">
                                        <img class="lazy-img" data-src="latest-assets/img/nirf-ranking-logo.webp"
                                            alt="NIRF Ranking" width="225">
                                    </div>
                                    <div class="col-7 col-sm-8 col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        19<sup>th</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Universities in India by NIRF Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6 d-none d-lg-block">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        31<sup>st</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Institutions For Engineering In India By NIRF
                                                        Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="faq-collapse-3" class="accordion-collapse collapse" aria-labelledby="faq-head-3"
                            data-bs-parent="#accordionFlushExampleFAQ">
                            <div class="accordion-body">
                                <div class="row g-0 w-94">
                                    <div class="offset-md-3 col-md-9">
                                        <div class="row">
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        32<sup>nd</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Institutions For Management Studies In India By
                                                        NIRF Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mb-40">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        15<sup>th</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Institutions For Pharmacy In India By NIRF
                                                        Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        14<sup>th</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Institutions For Architecture &amp; Planning In
                                                        India By NIRF Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 d-block d-lg-none">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__no">
                                                        <span>Ranked</span>
                                                        31<sup>st</sup>
                                                    </div>
                                                    <div class="uniRankingthumb__content">
                                                        Among The Best Institutions For Engineering In India By NIRF
                                                        Rankings 2025
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mainHeading text-center mt-60" data-aos="fade-up" data-aos-duration="700">
                        <h2 class="px-4 px-sm-0"><span>Our</span> Accreditations</h2>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-head-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-collapse-4" aria-expanded="false" aria-controls="faq-collapse-4"
                                disabled>
                                <div class="row w-94 align-items-center">
                                    <div class="col-5 col-sm-4 col-md-3">
                                        <img class="lazy-img" data-src="latest-assets/img/abet-logo.webp"
                                            alt="QS World University Rankings" width="220">
                                    </div>
                                    <div class="col-7 col-sm-8 col-md-3">
                                        <div class="uniRankingthumb">
                                            <div class="uniRankingthumb__content">
                                                ABET Accreditation For Globally Recognized Engineering Programs
                                                <span>B.E. Chemical Engineering,<br> B.E. Computer Science and
                                                    Engineering,<br> B.E. Electronics and Communication
                                                    Engineering</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-none d-md-block">
                                        <img class="lazy-img" data-src="latest-assets/img/abet-logo-comp.webp"
                                            alt="QS World University Rankings" width="220">
                                    </div>
                                    <div class="col-md-3 d-none d-md-block">
                                        <div class="uniRankingthumb">
                                            <div class="uniRankingthumb__content">
                                                ABET Accreditation For Globally Recognized Engineering Programs
                                                <span>B.E. Computer Science and Engineering</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="faq-collapse-4" class="accordion-collapse collapse" aria-labelledby="faq-head-4"
                            data-bs-parent="#accordionFlushExampleFAQ">
                            <div class="accordion-body">
                                <div class="row g-0 w-94">
                                    <div class="col-12 d-block d-md-none">
                                        <div class="row pt-2">
                                            <div class="col-5 col-sm-4 col-md-3">
                                                <img class="lazy-img" data-src="latest-assets/img/abet-logo-comp.webp"
                                                    alt="QS World University Rankings" width="220">
                                            </div>
                                            <div class="col-7 col-sm-8 col-md-3">
                                                <div class="uniRankingthumb">
                                                    <div class="uniRankingthumb__content">
                                                        ABET Accreditation For Globally Recognized Engineering Programs
                                                        <span>B.E. Computer Science and Engineering</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
